.landing-page-container{
    height: 100vh;
}

.navs{
    height: 60px;
    border-bottom: 2px solid #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 26px;
    color:rgb(8, 88, 8);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navs .logo{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.header{
    height: calc(100vh - 63px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .image,
.header .text{
    flex-basis: 50%;
}

.header .text{
    text-align: start;
    padding-left: 60px;
}

.header .text h1{
    font-size: 52px;
    color: #8cae8c;
    margin-bottom: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header .text p{
    color:rgb(7, 74, 7);;
    margin-bottom: 60px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header .image img{
    width: 590px;
}

.start-btn{
    cursor: pointer;
    padding: 12px;
    border-radius: 6px;
    color: rgb(8, 88, 8);
    background-color:rgb(185, 234, 50);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
